.grille-vitrine {
    border-top: 1px solid #703600;
    /* TODO: Afficher les éléments en grille de 3 colonnes */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* TODO: Mettre un espace entre les éléments de 10 px */
    padding: var(--padding-panel-md);
    gap: 10px;
    overflow-y: auto;
    background-color: #000;
}

.carte-produit {
    aspect-ratio: 1/1;
    background: var(--panneau2);
    border: 1px solid var(--bordure2);
    border-radius: var(--rayon-bordure-md);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color .15s ease, background .15s ease;
    overflow: hidden;
}

.carte-produit:hover {
    border-color: var(--bleu);
    filter: drop-shadow(0px 0px 20px #a5741a);
    background: #4d2500;
}

.code-produit {
    font-size: 10px;
    color: #945400;
    font-family: 'Share Tech Mono', monospace;
    filter: drop-shadow(0px 0px 5px #a5741a);
    align-self: flex-start;
}

.icone-produit {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: sepia(100%) saturate(300%) drop-shadow(0px 0px 5px #EDA92B);
    font-size: 38px;
    line-height: 1;
    aspect-ratio: 1/1;
}

.icone-produit img{
    max-width: 100%;
    height: auto;
}

.nom-produit {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-wrap: wrap;
    font-weight: 800;
    color: var(--texte-fort);
    filter: drop-shadow(0px 0px 5px #a5741a);
    white-space: nowrap;
    z-index: 2;
}

.prix-produit {
    font-family: 'Share Tech Mono', monospace;
    color: rgb(255, 200, 97);
    filter: drop-shadow(0px 0px 5px #EDA92B);
    font-size: 14px;
    z-index: 2;
}